body {
    font-family:'Rubik Mono One', sans-serif;
    display: flex;
    align-items:center;
    justify-content:center;  
    background:#202020;
}
.container{
    width:150px;
    height:30px;
    background:teal;
    padding:0.55rem;
    display: flex;
    align-items:center;
    justify-content:center;
    border-radius:0.5rem;
    position:absolute;
    top:40%;
    padding-left:1rem;
    overflow:hidden;
}
.container button{
    background:transparent;
    padding:0.5rem;
    font-family:'Rubik Mono One', sans-serif;
    color:lavender;
    border:none;
    padding-right:0.7rem;
}
.container span{
    padding:0.71rem 1.1rem 0.71rem 1.1rem;
    background:transparent;
    color:lavender;
    font-weight:bolder;
}
.container span:hover{
    animation:colors 2s linear 1s infinite;
}
@keyframes colors{
    0%{
        transform:translateY(-30px);
    }
    100%{
        transform:translateY(50px);
    }
}